.container {
  margin-bottom: 250px;
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  justify-content: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.title {
  margin: 48px;
  font-size: 32px;
  text-transform: uppercase;
  letter-spacing: 8px;
  text-align: center;
}

.subscription-option {
  font-size: 24px;
  padding: 8px;
}

.options {
  margin-left: 15px;
}
input[type="radio"] {
  display: none;
}

label {
  position: relative;
  cursor: pointer;
  font-weight: bold;
  padding-right: 32px;
}

label:nth-child(1) {
  padding-right: 0;
}

label::before {
  content: "";
  border: 2px solid black;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: -8px 20px;
  margin-left: 0;
  border-radius: 50%;
}

label::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: white;
  left: 7px;
  top: 14px;
  margin: -8px 20px;
  margin-left: 0;
  border-radius: 50%;

  transition: all 0.4s;
}

input[type="radio"]:checked + label::after {
  background: lightseagreen;
}

.user-details {
  flex-wrap: wrap;
  margin-top: 50px;
  box-shadow: 0 0 10px lightgray, 0 0 30px lightgray;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding-left: 160px;
  padding-top: 50px;
}

.input-box {
  width: calc(100% / 2 - 20px);
  justify-content: center;
  align-items: center;
}

.input-box input {
  margin-bottom: 20px;
  height: 50px;
  width: 310px;
  border: none;
  border-bottom: 2px solid black;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  background: transparent;
  border-bottom: 2px solid #1d2124;
  outline: none;
  box-sizing: border-box;
}
input:active,
input:focus {
  border-bottom: 0.12em solid #aaf0d1;
  border-color: #aaf0d1;
}
.input-box .details {
  margin-bottom: 5px;
  font-size: 20px;
}

form {
  border: none;
  justify-content: center;
  align-items: center;
}

.proceed-to-payment {
  font-size: 15px;
  border: none;
  width: 70%;
  background: #aaf0d1;
  color: #2c353e;
  text-transform: uppercase;
  margin-top: 40px;
  margin-left: 100px;
  padding: 12px;
  cursor: pointer;
  border: 2px solid transparent;
}

.proceed-to-payment:hover {
  background: #aaf0d1;
  box-shadow: 0 0 10px #aaf0d1, 0 0 30px #aaf0d1;
}
