.search-box-users {
  font-family: "Poppins", sans-serif !important;
  margin-bottom: 30px;
  margin-left: 220px;
}

.search-user-button {
  width: 135px;
  margin-left: 5px;
}

.alert {
  margin-left: 220px;
}
